
* {
	box-sizing: border-box; 
}
html {
	font-size: 62.5%; 
}
body {
	font-size: 1.6rem; 
    background-color: #ffffff;
    margin:0;
    padding:0;
    height:100%;
    font-family: sans-serif;
	color: #555;
    
}

.header h1 {
	margin:0.5em;
    background-color: whitesmoke;
    color:black;
    text-transform: uppercase;
}

.menu ul {
    list-style:none;
    padding:1em;
    background-color: rgb(73, 31, 150);
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin-top:0;
}
.menu > ul > li:hover ul {
    display:block;
}

.menu a {
    padding:1em 2em;
    color:#fff;
    display: inline-block;
    min-width:12em;
    text-align: center;
}

.menu a:hover {
    text-decoration:none;
    background-color: #5735dd;
}
h1 {
	font-size: 4rem;
	color: #fff;
}


h2 {
	font-size: 2.2rem;
	color: #1d4db0;
}



h3 {
	font-size: 2.4rem;
}

a {
	text-decoration: none;
	color: #333;
}

main {
	padding: 2em;
}

article {
    margin:1em;
}
.quizz{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3 auto);
    gap:5px;
    justify-content: center;
    padding:2em;
}
.h2quizz{
    opacity:0;
    font-size: 1em;
    text-align: center;
    color:white;
    padding:1em;
    margin:0;
}
.image:hover .h2quizz{ 
    border:1px;
    background-color: rgb(35, 79, 160);
    opacity:1;
    transition:0.5s;
}
.onepiece{
    background-image: url(img/Zoro.jpg);
}
.naruto{
    background-image: url(img/Naruto.jpg);
}
.dragonball{
    background-image: url(img/Dragonball.jpg);
}
.aot{
    background-image: url(img/Aot.jpg);
}
.bleach{
    background-image: url(img/bleach.jpg);
}
.jojo{
    background-image: url(img/jojo.jpg);
}
.hunter{
    background-image: url(img/hunter.jpg);
}
.demonslayer{
    background-image: url(img/demonslayer.jpg);
}
.image{
	border:5px solid black;
    background-position:center;
    padding:5em;
    max-width:100%;
    max-height:100%;
    height:250px
}

.container {
	max-width: 980px;
    padding:0;
	margin-left: auto; 
	margin-right: auto;
    background-color: rgb(76, 9, 73);
}

.header {
	padding:1em;
	text-align: center;
	background-color: rgb(48, 6, 46);
	color:#444;
}

.footer {
	padding:1em;
	text-align: center;
	background-color: rgb(48, 6, 46);
	color:#fff;
	font-size:1.5em;
}



