

/*
  style.css
*/

#app-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 20px;
}

#questions-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

#score-container {
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: rgb(13, 110, 221);
  padding: 10px 15px;
  min-width: 100px;
  min-height: 45px;
  border-radius: 10px;
}

#app-title {
  Display:flex;
  justify-content: center;
  font-size:30px;
}
